.react-calendar {
  max-width: 100%;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 500px) {
  .react-calendar__navigation__prev2-button,
  .react-calendar__navigation__prev-button {
    display: none;
  }
  .react-calendar__navigation__label {
    padding-left: 1rem;
    text-align: left;
  }
}

.react-calendar button {
  color: white;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:disabled {
  visibility: hidden;
  background-color: #f0f0f0;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #00283d;
}
.react-calendar__month-view__weekdays {
  color: rgb(107, 114, 128);
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
}

.react-calendar__month-view__days__day {
  padding: 1px;
  background-clip: content-box !important;
  border-radius: 15px !important;
}

.react-calendar__navigation__label__labelText {
  font-weight: 500;
  font-size: 12px;
}

/* .react-calendar__navigation__label {
  
} */

.react-calendar__navigation__arrow {
  padding: 7px;
  background-color: #000d14;
  background-clip: content-box !important;
  border-radius: 50px;
  font-size: 12px;
}
.react-calendar__navigation__arrow:hover {
  background-color: #00283d;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #b3b3b3;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 0px;
}
.react-calendar__tile {
  aspect-ratio: 1/1;
  max-width: 100%;
  background: none;
  text-align: center;
}
.react-calendar__tile:disabled {
  background-color: #00121c;
  color: #00121c;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #00283d;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background-color: #00283d;
  border-color: #00283d;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #000d14;
  border: 1px;
  border-color: #00283d;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #00283d;
}

.react-calendar__tile .react-calendar__year-view__months__month {
  max-height: 10px;
}
