@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-cerulean-950;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-cerulean-800;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-cerulean-500;
  }
}

.SelectContent {
  width: var(--radix-select-trigger-width);
  max-height: var(--radix-select-content-available-height);
}

.PopoverContent {
  width: var(--radix-popover-trigger-width);
  /* max-height: var(--radix-popover-trigger-height); */
}
